.masterswiper {
  /* background-color: lightblue; */
  /* margin: 0px 10px; */
  /* display: flex;
    flex-flow: row; */
  cursor: grab;
  margin-bottom: 40px;
}

.slideritem {
  /* display: flex; */
  border-radius: 5.621px;
  border: 0.937px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  /* padding: 6px 33px; */
  margin: 0px 25px;
}

.Swiper {
  padding-bottom: 40px;
  /* cursor: grab; */
}

.conteiner {
  display: flex;
  flex-flow: column;
  padding: 0px 100px;
  height: max-content;
  margin-top: 30px;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
}

.slideContent {
  position: relative;
  margin-top: 20px;
}

/* .masterbtn {
color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 23.422px;
font-style: normal;
font-weight: 700;
line-height: 126.5%;
border-radius: 5.621px;
background: #444;
} */

.content {
  padding: 2px 22px 11px 25px;
}

.masterbtn button {
  color: #fff;
  text-align: center;
  /* font-family: DM Sans; */
  font-size: 14.422px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.5%;
  background: #444;
  padding: 13px 135px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.masterbtn :hover {
  opacity: 5;
  background-color: #272626;
}

.masterbtn {
  display: flex;
  justify-content: center;
  margin: none;
}

.para {
  font-size: 15px;
  padding: 0px 15px 50px 0px;
  color: black;
  font-weight: 400;
}

.title {
  font-size: 19px;
  font-weight: 600;
}

.pag {
  padding-bottom: 46px;
}

.freegreen {
  color: #2db621;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 126.5%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ecebeb;
  padding: 0px 10px;
}

@media only screen and (max-width: 641px) {
  .conteiner {
    /* background-color: red; */
    padding: 0;
    gap: 20px;
  }
  .slideritem img {
    width: 343px;
  }
  .masterbtn button {
    font-size: 15px;
    padding: 12px 122px;
  }

  .freegreen {
    color: #2db621;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.5%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ecebeb;
    padding: 0px 10px;
  }
  .conteiner h2 {
    color: #000;
    /* font-family: DM Sans; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.5%;
  }
}
