.maindiv {
    display: flex;
    /* grid-template-columns: 28% 24% 26% 30%; */
    border-radius: 20.048px;
    /* opacity: 0.5; */
    background: linear-gradient(90deg, #f9e7cd 0%, #ebfcd2 49.88%, #fce5c2 100%);
    margin: 42px 60px;
    padding: 20px;
    gap: 38px;
    justify-content: center;
}

.fone {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 30px;

}

.hrline {
    margin: 10px 0;
    border: 0.1px solid #fff;
}


.inone {
    border-radius: 16px;
    width: 264px;
    background: #FFF;
    padding: 20px 19px;
    box-shadow: 0px 1px 11px -2px rgba(0, 0, 0, 0.);
    margin: 10px 1px;
}

.inone p {
    color: #403F3F;
    text-align: center;
    /* font-family: Open Sans; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
    margin: 0px;
   
}


.ftwo {
    border-radius: 16px;
    width: 280px;
    background: #FFF;
    padding: 24px 14px;
    margin: 10px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    /* border-radius: 22.048px; */
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

}
.ftwocenter{
    border-radius: 16px;
    width: 280px;
    background: #FFF;
    padding: 24px 14px;
    margin: 10px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    /* border-radius: 22.048px; */
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.icons {
    font-size: 60px;
    color: #F99600;
    
}

@media (max-width: 641px) {

    .maindiv {
        background-color: #ebfcd2;
    }
    .maindiv{
        display: flex;
        flex-direction: column;
        margin: 0px;
        background: none;
        align-items: center;
        width: 100%;
        margin: auto;
    
   
}
.icons {
    font-size: 30px;
    color: #F99600;
    
}


.gptimg img {
   display: none;
   
}
.fone {
    margin-top: -4px;
}
.inone {
display: none;
}
.ftwo {
    width: 100%;
    padding: 28px 16px;
    gap: 25px;
    border-radius: 8px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    line-height: 22px;

    box-shadow: 0px 9px 14.3px 0px rgba(249, 150, 0, 0.15);
}
.ftwocenter{
    width: 100%;
    padding: 28px 16px;
    gap: 25px;
    border-radius: 8px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    line-height: 22px;

box-shadow: 0px 9px 14.3px 0px rgba(114, 188, 0, 0.15);
}
.ftwo img {
    width: 40px;
    height: auto;
}
.ftwocenter img {
    width: 40px;
    height: auto;
}
.ftwo p{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #403F3F;
    font-weight: 500;
    text-align: left;
}
.ftwocenter p{
    font-size: 16px;
  
    color: #403F3F;
    font-weight: 500;
    text-align: left;

}
.hrline{
    display: none;
}
.inone p{
   
    font-size: 11px;
    margin-top: 0px;
}
}
@media (max-width: 361px) {


    .inone{
        width: 150px;
    }
.ftwo{
    width: 160px;
}
.gptimg{
    width: 120px;
}
.fone{
    margin-top: 12px;
}
}

